<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <link th:href="@{css/login.css}" rel="stylesheet">

    <title>Restaurantly Bootstrap Template - Login</title>

</head>
<body>
<form method="post" action="/login">
    <div class="container">
        <input
            type="hidden"
            th:name="${_csrf.parameterName}"
            th:value="${_csrf.token}"
        >
        <label><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" required>

        <label><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            <div th:if="${error}" style="color:red" th:text="${error}"></div>
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancel</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>
</body>
</html>